#app-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.788);
    padding: 1rem 0;
}
#app-header h1{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
#app-header ul{
    display: flex;
    gap: 20px;
}
#app-header li{
    list-style: none;
}
#app-header li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
#app-header li a:hover{
    text-decoration: underline;
    /*Offset = Distancia    */
    text-underline-offset: 5px;
    /*Thickness = grossura  */
    text-decoration-thickness: 2px;
}